{% extends "base.html" %}

{% block title %}Select Department{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Select Department</h6>
    </div>
    <div class="card-body">
        <form action="{{ url_for('process_department') }}" method="POST">
            <input type="hidden" name="academic_year_id" value="{{ academic_year_id }}">
            <div class="form-group">
                <label for="department">Choose a department...:</label>
                <select class="form-control" id="department" name="department" required>
                    {% for department in departments %}
                        <option value="{{ department[0] }}">{{ department[1] }}</option>
                    {% endfor %}
                </select>

            </div>
            <button type="submit" class="btn btn-primary">Continue</button>
            <a href="{{ url_for('select_academic_year') }}" class="btn btn-secondary">Back</a>
        </form>
    </div>
</div>
{% endblock %}
